{% if nfs_server_exports is defined %}
{% for export in nfs_server_exports %}
{% for access in export.access %}
{{ export.path }} {{ access.hostname }}({{ access.options | join(',') }})
{% endfor %}
{% endfor %}
{% endif %}
